stable-baselines3>=2.3.2
gymnasium>=0.29.1
yfinance>=0.2.40
optuna>=3.6.1
wandb>=0.17.0
pandas>=2.2.2
numpy>=1.26.4
TA-Lib>=0.4.28
matplotlib>=3.8.4
plotly>=5.22.0
pytest>=8.2.0
PyYAML>=6.0.1
pyarrow>=15.0.2
fastapi>=0.111.0
uvicorn[standard]>=0.30.0
